<footer>
<div>
        <h6>Seguinos</h6>
    <div class="redes-sociales">
     <span i class="fab fa-instagram"></span>
    <span i class="fab fa-twitter"></span>
      <span i class="fab fa-facebook"></span>
    </div>
</div>

<div>
    <h6>Mas info</h6>
    <div class="mas-info">
        <span>Pedidos online</span>
        <span>Zonas de entrega</span>
        <span>Formas de pago</span>
        
    </div>
</div>

<div>
    <h6>Contactanos</h6>
    <div class="contacto">
        <div>
           <span i class="fas fa-phone"></i>
            1128561209</span>
        </div>
        <div>
          <span i class="fas fa-envelope"></i>
            hola@carrot.com</span>
        </div>
        <div>
          <span i class="fas fa-map-marker-alt"></i>
            Av. Santa Fe 1254C1059ABT CABA</span>
        </div>
    </div>
</div>

    <div>
    <h6>Informacion legal</h6>
    <div class="info-legal">
    <span>Copyright © 1999-2022 Carrot S.R.L.</span>
    </div>
    </div>
</footer>