<footer>
<div>
        <h6>Seguinos</h6>
    <div class="redes-sociales">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
    </div>
</div>

<div>
    <h6>Mas info</h6>
    <div class="mas-info">
        <span>Pedidos online</span>
        <span>Zonas de entrega</span>
        <span>Formas de pago</span>
    </div>
</div>

<div>
    <h6>Contactanos</h6>
    <div class="contacto">
        <div>
            <i class="fas fa-phone"></i>
            <span>1128561209</span>
        </div>
        <div>
            <i class="fas fa-envelope"></i>
            <span>hola@carrot.com</span>
        </div>
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <span>Av. Santa Fe 1254C1059ABT CABA</span>
        </div>
    </div>
</div>

    <div>
    <h6>Informacion legal</h6>
    <div class="info-legal">
    <p>Copyright © 1999-2022 Carrot S.R.L.</p>
    </div>
    </div>
</footer>