<header>
    <section class="menu">
        <i class="fas fa-bars"></i>
        <span>INICIO</span>
    </section>
    <div class="iniciar">
    <a href="/login">
    <i class="fas fa-user-circle"></i>
    </a>
    </div>
    <div class="search-bar">
        <i class="fas fa-search"></i>
    </div>

    <section class="menu-principal">
        <div class="inicio">
            <a href="/">
                <i class="fas fa-home"></i>
            </a>
            <br>
            <span>INICIO</span>
        </div>

        <div class="productos">
            <a href="/products">
            <i class="fas fa-clipboard-list"></i>
        </a>
            <br>
            <span>PRODUCTOS</span>
        </div>

        <div class="carrito">
            <a href="/carrito">
            <i class="fas fa-shopping-cart"></i></a>
            <br>
            <span>CARRITO</span>
            </div>
        
    </section>

    <section class="encabezado">
        <div class="logo">
            <img class="logo-carrot" src="img/logoCarrot.png" alt="logo">
        </div>
        <div class="carrot">
            <span class="titulo">Carrot</span>
            <br>
            <span class="eslogan">mercado natural</span>
        </div>
    </section>

</header>