<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include("./partials/head") %>

	<body>
		<!-- HEADER -->
		<%- include("./partials/header") %>

<main>
    <form class="carrito-form" action="" method="post">
    <section class="carro">
    <h2 class="carrito">Mi Carrito</h2>

<ul class="carro">

<h4 class="sub-carrito">
    <p>Producto</p>
    <p>Precio</p>
    <p>Cantidad</p>
    <p>Subtotal</p>
 </h4>
   <li>    
        <img src="img/frutos-secos-image.jpg" alt="frutosSecos">
    <h4 class="info-carro">Frutos secos: almendras</h4>
    <p class="carrito-precio">1x$1000</p>
    <button i class="far fa-trash-alt"></button>
     </div>
</li>
<div class="menos-mas">
<button i class="fas fa-minus"></button>
<input class="number">
<button i class="fas fa-plus"></button>
</div>
</ul>
<div class="sub-precio">
<p class="Subtotal">Subtotal</p>
<p class="sub-carrito-precio">$1000</p>
</div>
</form>
</main>
<a href="/">
<button class="finalizar">FINALIZAR COMPRA</button>
</a>


</section>


<footer>





    <h6>Seguinos</h6>
    <div class="redes-sociales">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
    </div>

    <h6>Mas info</h6>
    <div class="mas-info">
        <span>Pedidos online</span>
        <span>Zonas de entrega</span>
        <span>Formas de pago</span>
    </div>

    <h6>Contactanos</h6>
    <div class="contacto">
        <div>
            <i class="fas fa-phone"></i>
            <span>1128561209</span>
        </div>
        <div>
            <i class="fas fa-envelope"></i>
            <span>hola@carrot.com</span>
        </div>
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <span>Av. Santa Fe 1254C1059ABT CABA</span>
        </div>
    </div>

    <h6>Informacion legal</h6>
    <p>Copyright © 1999-2022 Carrot S.R.L.</p>
</footer>
</body>

</html>