<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <header>
        <section class="menu">
            <i class="fas fa-bars"></i>
            <span>INICIO</span>
        </section>

        <div class="search-bar">
            <i class="fas fa-search"></i>
        </div>

        <section class="menu-principal">
            <a href="/">
                <div class="inicio">
                    <a href="/">
                        <i class="fas fa-home"></i>
                    </a>
                    <br>
                    <span>INICIO</span>
                </div>
            </a>
            <div class="productos">
                <i class="fas fa-clipboard-list"></i>
                <br>
                <span>PRODUCTOS</span>
            </div>
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
                <br>
                <span>CARRITO</span>
            </div>
        </section>

        <section class="encabezado">
            <div class="logo">
                <img class="logo-carrot" src="img/logoCarrot.png" alt="logo">
            </div>
            <div class="carrot">
                <span class="titulo">Carrot</span>
                <br>
                <span class="eslogan">mercado natural</span>
            </div>
        </section>

    </header>
<form class="carrito-form" action="" method="post">
<main>
    <section class="carro">
    <h2 class="carrito">Mi Carrito</h2>

<ul class="carro">

   <li>    
        <img src="img/frutos-secos-image.jpg" alt="frutosSecos">
    <h4 class="info-carro">Frutos secos: almendras</h4>
    <p class="carrito-precio">1x$1000</p>
    <button i class="far fa-trash-alt"></button>
     </div>
</li>
<div class="menos-mas">
<button i class="fas fa-minus"></button>
<input class="number">
<button i class="fas fa-plus"></button>
</div>
</ul>
<div class="sub-precio">
<p class="Subtotal">Subtotal</p>
<p class="sub-carrito-precio">$1000</p>
</div>
</form>
</main>
<button class="finalizar">FINALIZAR COMPRA</button>
</section>


<footer>





    <h6>Seguinos</h6>
    <div class="redes-sociales">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
    </div>

    <h6>Mas info</h6>
    <div class="mas-info">
        <span>Pedidos online</span>
        <span>Zonas de entrega</span>
        <span>Formas de pago</span>
    </div>

    <h6>Contactanos</h6>
    <div class="contacto">
        <div>
            <i class="fas fa-phone"></i>
            <span>1128561209</span>
        </div>
        <div>
            <i class="fas fa-envelope"></i>
            <span>hola@carrot.com</span>
        </div>
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <span>Av. Santa Fe 1254C1059ABT CABA</span>
        </div>
    </div>

    <h6>Informacion legal</h6>
    <p>Copyright © 1999-2022 Carrot S.R.L.</p>
</footer>
</body>

</html>