<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Carrot</title>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Nanum+Gothic&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
	<header>
		<section class="menu">
			<i class="fas fa-bars"></i>
			<span>INICIO</span>
		</section>

		<div class="search-bar">
			<i class="fas fa-search"></i>
		</div>

		<section class="menu-principal">
			<div class="inicio">
				<i class="fas fa-home"></i>
				<br>
				<span>INICIO</span>
			</div>
			<div class="productos">
				<i class="fas fa-clipboard-list"></i>
				<br>
				<span>PRODUCTOS</span>
			</div>
			<div class="carrito">
				<i class="fas fa-shopping-cart"></i>
				<br>
				<span>CARRITO</span>
			</div>
		</section>

		<section class="encabezado">
			<div class="logo">
				<img class="logo-carrot" src="img/logoCarrot.png" alt="logo">
			</div>
			<div class="carrot">
				<span class="titulo">Carrot</span>
				<br>
				<span class="eslogan">mercado natural</span>
			</div>
		</section>

	</header>

	<main>
		<div class="carrusel1">
			<img src="img/carrusel-image1.jpg" alt="carrusel1">
		</div>
		<section class="circulos">
			<div class="circulo"></div>
			<div class="circulo-relleno"></div>
			<div class="circulo"></div>
			<div class="circulo"></div>
			<div class="circulo"></div>
		</section>

		<section class="destacado">
			<h1 class="titulo">Destacados</h1>

			<section class="products">

				<article>
					<a href="frutos-secos">
						<img src="img/frutos-secos-image.jpg" alt="frutos-secos">
					</a>
					<div class="info">
						<h1>Frutos secos: almendras</h1>
						<p class="descripcion">
							Frutos secos "El Nogal"
						</p>
						<p class="precio">$1000</p>
					</div>
				</article>

				<article>
					<a href="miel-liquida">
						<img src="img/miel-liquida-image.jpg" alt="miel-liquida">
					</a>
					<div class="info">
						<h1>Miel Liquida</h1>
						<p class="descripcion">
							Miel liquida "Beepture" 500g
						</p>
						<p class="precio">$1000</p>
					</div>
				</article>

				<article>
					<a href="pan-semillas">
						<img src="img/pan-mix-semillas.jpg" alt="pan-mix-semillas">
					</a>
					<div class="info">
						<h1>Pan mix de semillas</h1>
						<p class="descripcion">
							Pan mix de semillas "Campos verdes" 650g
						</p>
						<p class="precio">$1000</p>
					</div>
				</article>

				<article>
					<a href="quinua">
						<img src="img/quinua-image.jpg" alt="quinua">
					</a>
					<div class="info">
						<h1>Quinua</h1>
						<p class="descripcion">
							Quinua "Molicusco"
						</p>
						<p class="precio">$1000</p>
					</div>
				</article>

				<article>
					<a href="latas-scotch">
						<img src="img/scotch-6latas-antares.jpg" alt="6latas-scotch-antares">
					</a>
					<div class="info">
						<h1>x6 Latas Scotch antares</h1>
						<p class="descripcion">
							Pack de 6 latas scotch antares 650ml
						</p>
						<p class="precio">$1000</p>
					</div>
				</article>

				<article>
					<a href="tostaditas-de-arroz">
						<img src="img/tostaditas-arroz-sin-tacc.jpg" alt="tostaditas-arroz-sin-tacc">
					</a>
					<div class="info">
						<h1>Tostaditas de arroz sin Tacc</h1>
						<p class="descripcion">
							Tostaditas de arroz sin Tac "Crackines" 120g
						</p>
						<p class="precio">$1000</p>
					</div>
				</article>

				<span class="ver-mas-productos">Ver mas productos</span>

			</section>


		</section>
	</main>

	<footer>

		<h6>Seguinos</h6>
		<div class="redes-sociales">
			<i class="fab fa-instagram"></i>
			<i class="fab fa-twitter"></i>
			<i class="fab fa-facebook"></i>
		</div>

		<h6>Mas info</h6>
		<div class="mas-info">
			<span>Pedidos online</span>
			<span>Zonas de entrega</span>
			<span>Formas de pago</span>
		</div>

		<h6>Contactanos</h6>
		<div class="contacto">
			<div>
				<i class="fas fa-phone"></i>
				<span>1128561209</span>
			</div>
			<div>
				<i class="fas fa-envelope"></i>
				<span>hola@carrot.com</span>
			</div>
			<div>
				<i class="fas fa-map-marker-alt"></i>
				<span>Av. Santa Fe 1254C1059ABT CABA</span>
			</div>
		</div>

		<h6>Informacion legal</h6>
		<p>Copyright © 1999-2022 Carrot S.R.L.</p>
	</footer>
</body>

</html>