<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include("./partials/head") %>

    <body>
        <!-- HEADER -->
        <%- include("./partials/header") %>

            <main>
                <form action="/users/login" method="post">
                    <h1 class="login">Login de usuario</h1>
                    <br>
                    <br>
                    <div>
                        <label for="usuario">Nombre de Usuario/Email</label>
                        <br>
                        <input type="text" name="usuario" id="usuario" required>
                        <span class="feedback"></span>
                    </div>
                    <br>
                    <div>
                        <label for="contraseña">Contraseña</label>
                        <br>
                        <input type="password" name="contraseña" id="contraseña" required>
                        <span class="feedback"></span>
                        <span class="resetearContraseña">
                            <a href="/account/reset">¿Olvidaste tu contraseña?</a>
                        </span>
                    </div>
                    <br>
                    <div class="button">
                        <button type="submit" required>INICIAR SESIÓN</button>
                        <span class="feedback"></span>
                    </div>
                        <p class= "sinUsuario">¿Aún no tenés un usuario?
                        <a href= "http://localhost:3000/register" class="aSinUsuario">Registrate.</a>
                    </p>
                    views\register.ejs
                </form>
            </main>

	<!-- FOOTER -->
    <%- include("./partials/footer") %>

</body>

</html>