<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/styles.css" />
</head>

    <header>
        <section class="menu">
            <i class="fas fa-bars"></i>
            <span>INICIO</span>
        </section>

        <div class="search-bar">
            <i class="fas fa-search"></i>
        </div>

        <section class="menu-principal">
            <div class="inicio">
                <i class="fas fa-home"></i>
                <br>
                <span>INICIO</span>
            </div>
            <div class="productos">
                <i class="fas fa-clipboard-list"></i>
                <br>
                <span>PRODUCTOS</span>
            </div>
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
                <br>
                <span>CARRITO</span>
            </div>
        </section>

        <section class="encabezado">
            <div class="logo">
                <img class="logo-carrot" src="img/logoCarrot.png" alt="logo">
            </div>
            <div class="carrot">
                <span class="titulo">Carrot</span>
                <br>
                <span class="eslogan">mercado natural</span>
            </div>
        </section>

    </header>


    <br>
    <main>
        <form action="./" method="get">
            <h1 class="login">Login de usuario</h1>
            <br>
            <br>
            <div>
                <label for="usuario">Nombre de Usuario</label>
                <br>
                <input type="text" name="usuario" id="usuario" required>
                <span class="feedback"></span>
            </div>
            <br>
            <div>
                <label for="contraseña">Contraseña</label>
                <br>
                <input type="password" name="contraseña" id="contraseña" required>
                <span class="feedback"></span>
                <span class="resetearContraseña">
                <a href="/account/reset">¿Olvidaste tu contraseña?</a>
                </span>
            </div>
            <br>
            <div>
                <button type="submit" required>INICIAR SESIÓN</button>
                <span class="feedback"></span>
            </div>
        </form>
    </main>
<br>
<br>
<footer>

    <h6>Seguinos</h6>
    <div class="redes-sociales">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
    </div>

    <h6>Mas info</h6>
    <div class="mas-info">
        <span>Pedidos online</span>
        <span>Zonas de entrega</span>
        <span>Formas de pago</span>
    </div>

    <h6>Contactanos</h6>
    <div class="contacto">
        <div>
            <i class="fab fa-instagram"></i>
            <span>DieteticasCarrot</span>
        </div>
        <div>
            <i class="fab fa-twitter"></i>
            <span>DieteticasCarrot</span>
        </div>
        <div>
            <i class="fab fa-facebook"></i>
            <span>DieteticasCarrot</span>
        </div>
    </div>

    <h6>Informacion legal</h6>
    <p>Copyright © 1999-2022 MercadoLibre S.R.L.</p>
</footer>

</body>

</html>