<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <header>
        <section class="menu">
            <i class="fas fa-bars"></i>
            <span>INICIO</span>
        </section>

        <div class="search-bar">
            <i class="fas fa-search"></i>
        </div>

        <section class="menu-principal">
            <a href="/">
                <div class="inicio">
                    <a href="/">
                        <i class="fas fa-home"></i>
                    </a>
                    <br>
                    <span>INICIO</span>
                </div>
            </a>
            <div class="productos">
                <i class="fas fa-clipboard-list"></i>
                <br>
                <span>PRODUCTOS</span>
            </div>
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
                <br>
                <span>CARRITO</span>
            </div>
        </section>

        <section class="encabezado">
            <div class="logo">
                <img class="logo-carrot" src="img/logoCarrot.png" alt="logo">
            </div>
            <div class="carrot">
                <span class="titulo">Carrot</span>
                <br>
                <span class="eslogan">mercado natural</span>
            </div>
        </section>

    </header>

    <main>

        <section class="detalles">
            <h2>Pan mix de semillas</h2>

            <div class="product-details">

                <img src="img/pan-mix-semillas.jpg" alt="panSemillas">

                <div class="info-product-details">
                    <p class="descrip">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Voluptatum quae nam, voluptatibus illo repellat amet
                        laboriosam.
                    </p>
                    <p class="precio">$1000</p>
                </div>

            </div>
        </section>

        <div class="boton-agregar">
            <p>Agregar al carrito</p>
        </div>

        <p class="boton-compartir">Compartir</p>
        <section class="compartir">

            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>

        </section>

        <h4 class="titulo-art-relacionado">Articulos relacionados</h4>

        <section class="productos-relacionados">

            <div class="articulo-relacionado">
                <a href="">
                    <img src="img/frutos-secos-image.jpg" alt="frutos-secos">
                </a>
                <div class="info">
                    <h1>Frutos secos: almendras</h1>
                    <p class="descripcion">
                        Frutos secos "El Nogal"
                    </p>
                    <p class="precio">$1000</p>
                    <p class="agregar">Agregar al carrito</p>
                </div>
            </div>

            <div class="articulo-relacionado">
                <a href="detalles-del-producto">
                    <img src="img/pan-mix-semillas.jpg" alt="pan-mix-semillas">
                </a>
                <div class="info">
                    <h1>Pan mix de semillas</h1>
                    <p class="descripcion">
                        Pan mix de semillas "Campos verdes" 650g
                    </p>
                    <p class="precio">$1000</p>
                    <p class="agregar">Agregar al carrito</p>
                </div>
            </div>

            <div class="articulo-relacionado">
                <a href="detalles-del-producto">
                    <img src="img/quinua-image.jpg" alt="quinua">
                </a>
                <div class="info">
                    <h1>Quinua</h1>
                    <p class="descripcion">
                        Quinua "Molicusco"
                    </p>
                    <p class="precio">$1000</p>
                    <p class="agregar">Agregar al carrito</p>
                </div>
            </div>

            <div class="articulo-relacionado">
                <a href="detalles-del-producto">
                    <img src="img/scotch-6latas-antares.jpg" alt="6latas-scotch-antares">
                </a>
                <div class="info">
                    <h1>x6 Latas Scotch antares</h1>
                    <p class="descripcion">
                        Pack de 6 latas scotch antares 650ml
                    </p>
                    <p class="precio">$1000</p>
                    <p class="agregar">Agregar al carrito</p>
                </div>
            </div>

        </section>


    </main>

    <footer>

        <h6>Seguinos</h6>
        <div class="redes-sociales">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
        </div>

        <h6>Mas info</h6>
        <div class="mas-info">
            <span>Pedidos online</span>
            <span>Zonas de entrega</span>
            <span>Formas de pago</span>
        </div>

        <h6>Contactanos</h6>
        <div class="contacto">
            <div>
                <i class="fas fa-phone"></i>
                <span>1128561209</span>
            </div>
            <div>
                <i class="fas fa-envelope"></i>
                <span>hola@carrot.com</span>
            </div>
            <div>
                <i class="fas fa-map-marker-alt"></i>
                <span>Av. Santa Fe 1254C1059ABT CABA</span>
            </div>
        </div>

        <h6>Informacion legal</h6>
        <p>Copyright © 1999-2022 Carrot S.R.L.</p>
    </footer>
</body>

</html>