<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include("./partials/head") %>

    <body>
        <!-- HEADER -->
        <%- include("./partials/header") %>

            <main>

                <section class="detalles">
                    <h2>Miel liquida "Beepture" de 500g</h2>

                    <div class="product-details">

                        <img src="img/miel-liquida-image.jpg" alt="mielLiquida">

                        <div class="info-product-details">
                            <p class="descrip">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptatum quae nam, voluptatibus illo repellat amet
                                laboriosam.
                            </p>
                            <p class="precio">$1000</p>
                        <a href="/carrito">
                        <button class="boton-agregar">Agregar al carrito</button>
                        </a>
                    </div>
                </div>
                    </section>

                <p class="boton-compartir">Compartir</p>
                <section class="compartir">

                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>

                </section>

                <h4 class="titulo-art-relacionado">Articulos relacionados</h4>

                <section class="productos-relacionados">

                    <div class="articulo-relacionado">
                        <a href="">
                            <img src="img/frutos-secos-image.jpg" alt="frutos-secos">
                        </a>
                        <div class="info">
                            <h1>Frutos secos: almendras</h1>
                            <p class="descripcion">
                                Frutos secos "El Nogal"
                            </p>
                            <p class="precio">$1000</p>
                            <p class="agregar">Agregar al carrito</p>
                        </div>
                    </div>

                    <div class="articulo-relacionado">
                        <a href="detalles-del-producto">
                            <img src="img/pan-mix-semillas.jpg" alt="pan-mix-semillas">
                        </a>
                        <div class="info">
                            <h1>Pan mix de semillas</h1>
                            <p class="descripcion">
                                Pan mix de semillas "Campos verdes" 650g
                            </p>
                            <p class="precio">$1000</p>
                            <p class="agregar">Agregar al carrito</p>
                        </div>
                    </div>

                    <div class="articulo-relacionado">
                        <a href="detalles-del-producto">
                            <img src="img/quinua-image.jpg" alt="quinua">
                        </a>
                        <div class="info">
                            <h1>Quinua</h1>
                            <p class="descripcion">
                                Quinua "Molicusco"
                            </p>
                            <p class="precio">$1000</p>
                            <p class="agregar">Agregar al carrito</p>
                        </div>
                    </div>

                    <div class="articulo-relacionado">
                        <a href="detalles-del-producto">
                            <img src="img/scotch-6latas-antares.jpg" alt="6latas-scotch-antares">
                        </a>
                        <div class="info">
                            <h1>x6 Latas Scotch antares</h1>
                            <p class="descripcion">
                                Pack de 6 latas scotch antares 650ml
                            </p>
                            <p class="precio">$1000</p>
                            <p class="agregar">Agregar al carrito</p>
                        </div>
                    </div>

                </section>


            </main>

            <!-- FOOTER -->
            <%- include("./partials/footer") %>

    </body>

</html>