<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include("./partials/head") %>

	<body>
		<!-- HEADER -->
		<%- include("./partials/header") %>

			<main>
				<form action="./login" method="get">

					<div class="titulo-contenedor">
						<h1 class="Crear-Cuenta">Crear cuenta</h1>
					</div>

					<class="formgroup">
						<div>
							<label for="nombre y apellido">Nombre y Apellido:</label>
							<input class="form-control" type="text" name="nombreApellido" id="nombre y apellido"
								required placeholder="ej:Fernanda Sánchez">
						</div>
						<br>
						<div>
							<label for="nombre de usuari@">Nombre de Usuario:</label>
							<input class="form-control" type="text" name="Nombre de usuari@" id="nombre de usuari@"
								required placeholder="ej:Ferchu">
						</div>
						<br>
						<div>
							<label for="fecha de nacimiento">Fecha de nacimiento:</label>
							<input class="form-control" type="date" name="fecha de nacimiento" id="fecha de nacimiento"
								required placeholder="ej:26/08/1988">
						</div>
						<br>
						<div>
							<label for="domicilio">Domicilio:</label>
							<input class="form-control" type="text" name="domicilio" id="domicilio" required
								placeholder="ej:Av.Santa Fe 999">
						</div>
						<br>
						<div>
							<label> Perfil del usuario:</label>
							<br>
							<div class="tipoUsuario">

								<label for="minorista" class="minorista">Minorista
								<input type="radio" name="tipoDeUsuario" value="minorista" class="minorista" required
									checked></label>
								<label for="mayorista" class="mayorista">Mayorista
								<input type="radio" name="tipoDeUsuario" value="mayorista" class="mayorista" required>
							</label>
							</div>
							<br/>
</div>
					
						<label>Seleccionar una imagen para el perfil:
							<input class="form-control" type="file" name="Foto de Perfil" accept=".jpg" required>
						</label>
						</div>
						<br>
						<br>
						<div>
							<label for="contraseña">Contraseña:</label>
							<input class="form-control" type="password" name="passwordDeUsuario" required
								placeholder="ej:Palacio88">
						</div>
						<br>
						<div>
							<label for="contraseña">Confirmar contraseña:</label>
							<input class="form-control" type="password" name="passwordconfirmacionDeUsuario" required
								placeholder="ej:Palacio88">
						</div>
						<br>
						<div class="botones">
							<button type=" submit">Crear cuenta</button>
							<a href="http://localhost:3000/login"></a>
						</div>
	
				</form>
			</main>
			<br>
			<br>

			<!-- FOOTER -->
			<%- include("./partials/footer") %>

	</body>

</html>