* {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

/** header */
/** inicio*/
.menu {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-left: 2%;
	margin-top: 2%;
}

.menu .fa-bars {
	color: #ff740a;
	margin-right: 5px;
	margin-top: 0.5%;
}

.menu span {
	font-weight: bold;
}

.search-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-right: 4%;
	margin-left: 4%;
	padding-bottom: 3%;
	border-bottom: #01912d solid 1.5px;
}

/** menu principal*/

.menu-principal {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 6%;
	text-align: center;
}

.menu-principal .inicio {
	font-size: 0.3em;
}

.fa-home {
	font-size: 1.7rem;
	color: #ff740a;
}

.fa-clipboard-list {
	font-size: 1.7rem;
	color: #ff740a;
}

.fa-shopping-cart {
	font-size: 1.7rem;
	color: #ff740a;
}

/** logo, titulo y eslogan*/

.encabezado {
	width: 100%;
}

.logo-carrot {
	border-radius: 100%;
	width: 45%;
	vertical-align: middle;
	float: left;
}

.carrot {
	padding-top: 15%;
}

.carrot .titulo {
	font-size: 3rem;
	font-family: 'Caveat', cursive;
	text-decoration: underline #ff740a 1.8px;
}

.carrot .eslogan {
	font-size: 1.2rem;
	color: #01912d;
}

/**main*/

.carrusel1 img {
	width: 100%;
}

.circulos {
	display: flex;
	border-bottom: #01912d solid 1.5px;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	padding-bottom: 20%;
	margin-left: 5%;
}

.circulos .circulo {
	border-radius: 100%;
	border: #01912d 1px solid;
	width: 1%;
	height: 1%;
	margin: 1.5%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 0.5%;
	padding-left: 0.5%;
}

.circulos .circulo-relleno {
	border-radius: 100%;
	border: #01912d 1px solid;
	background-color: #01912d;
	width: 1%;
	height: 1%;
	margin: 1.5%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 0.5%;
	padding-left: 0.5%;
}

.destacado .titulo {
	font-size: 3rem;
	text-align: center;
	margin-top: 4%;
	margin-bottom: 10%;
	font-family: 'Caveat', cursive;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

article {
	width: 75%;
	border: #01912d solid 1px;
	margin-bottom: 6%;
}

article img {
	width: 100%;
	border-bottom: lightgray solid 1px;
}

article .info {
	margin-left: 7%;
	margin-right: 7%;
	margin-bottom: 3%;
	margin-top: 5%;
}

article .info h1 {
	font-size: 1.3rem;
	margin-bottom: 2%;
}

article .info .precio {
	font-size: 1.6rem;
	color: #ff740a;
	text-align: center;
	margin-top: 5%;
}

.ver-mas-productos {
	margin-top: 7%;
	font-size: 2rem;
	color: white;
	background-color: #ffb300;
	border: #01912d solid 1px;
	padding: 3%;
}
