* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	max-width: 100%;
}
a {
	text-decoration: none;
}

/*!------------------------------ home ------------------------------*/
/** header */
/** inicio*/

header {
	background-color: #faedca;
}

.menu-usuario {
	display: flex;
	max-width: 100%;
	margin: 1% 1%;
}
.menu {
	width: 50%;
	margin: 6% 0% 6% 2%;
}

.menu-login {
	color: darkorange;
	width: 90%;
	display: flex;
	justify-content: end;
	margin: 0%;
}
.fa-user-circle {
	font-size: 200%;
	color: darkorange;
	justify-content: flex-end;
}
.fa-user-circle:hover {
	transform: scale(1.5);
}
.menu .fa-bars {
	color: #ff740a;
	margin-right: 5px;
	margin-top: 0.5%;
	font-size: 150%;
}
.navbar-form {
	display:flex;
	margin: auto;
}
.search{
	
	transform: translate (-50%, -50%);
	height: 30px;
    border-radius: 4px;
    display: flex;
    max-width: 100%;
    width: 100%;
    margin: 0% 20%;
    
	}

.search:hover > input {
	width: 200px;
	padding: 0px 10px;
	
	
}

i.fas.fa-search {
	font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 2%;
	}

i.fas.fa-search:hover {
color: #ff740a;
}


input.search-bar-input :active {
	border-radius: 8px;
	border-color: orange;
	width: 100%;
	height: 70%;
	padding:20%;
	
}
input.search-bar-input {
	border-radius: 8px;
    border-color: orange;
	
}
.search-bar-bu{
	color: white;
    padding: revert;
	background-color: darkorange
}
.search-bar-bu:focus{
	font-size: 1.3rem;
	border-radius: 1rem;
	margin: 1%;
}
/** menu principal*/

.menu-principal {
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-top: 5%;
	background-color: darkorange;
    padding: 2%;
    color: white;
}
.menu-principal :hover {
	transform: scale(1.3);
}

.menu-principal .inicio {
	font-size: 0.3em;
}

.menu-principal .inicio span {
	text-decoration: none;
}

.fa-home {
	font-size: 1.7rem;
	color: floralwhite;
}

.fa-clipboard-list {
	font-size: 1.7rem;
	color: floralwhite;
}

.fa-shopping-cart {
	font-size: 1.7rem;
	color: floralwhite;
}
span {
	font-size: initial;
	font-size: 14px;
}
/** logo, titulo y eslogan*/

.encabezado {
	width: 100%;
}

a.logo-carrot {
	border-radius: 100%;
	width: 40%;
	float: left;
}
.carrot {
	padding-top: 12%;
}

.carrot .titulo {
	font-size: 320%;
	font-family: fantasy;
	color: darkorange;
	margin: -4%;
}

.carrot .eslogan {
	color: lightgreen;
	padding: 0% 8%;
	margin-bottom: -37%;
}
/**main*/
main {
	background-color: #faedca;
}
.carrusel1 img {
	width: 100%;
}

.carrusel2 {
	display: none;
}

h1.titulo {
	background-color: darkorange;
}
.circulos {
	display: flex;
	border-bottom: orange solid 1.5px;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	padding-bottom: 8%;
	margin-left: 5%;
}

.circulos .circulo {
	border-radius: 100%;
	border: orange 1px solid;
	width: 1%;
	height: 1%;
	margin: 1.5%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 0.5%;
	padding-left: 0.5%;
}

.circulos .circulo-relleno {
	border-radius: 100%;
	border: orange 1px solid;
	background-color: orange;
	width: 1%;
	height: 1%;
	margin: 1.5%;
	padding-bottom: 1%;
	padding-top: 1%;
	padding-right: 0.5%;
	padding-left: 0.5%;
}

.destacado .titulo {
	font-size: 3rem;
	text-align: center;
	margin-top: 4%;
	margin-bottom: 3%;
	font-family: 'Caveat', cursive;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}
p.descripcion {
	display: none;
}
article {
	width: 60%;
	background-color: white;
	margin-bottom: 6%;
	border-radius: 10%;
}

article:hover {
	box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article img {
	width: 100%;
	background-color: white;
	border-radius: 10%;
}

article .info {
	margin-left: 7%;
	margin-right: 7%;
	margin-bottom: 3%;
	margin-top: 5%;
	padding-top: 8%;
	border-top: lightsalmon 1px solid;
}

article .info h1 {
	font-size: 1.3rem;
	margin-bottom: 2%;
}

article .info .precio {
	font-size: 1.6rem;
	text-align: center;
	margin-top: 5%;
}

.ver-mas-productos {
	margin-top: 7%;
	font-size: 2rem;
	color: white;
	background-color:darkorange;
	border: lightgray solid 1px;
	padding: 3%;
	transform: rotate;
}

/**footer*/

footer {
	border-top: orange 2px solid;
	background-color: orange;
	margin-top: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	color: black;
	background-image: url('../img/fondozana2.jpg');
	background-size: 40%;
}
footer span:hover {
	color: white;
	background-color: orange;
	cursor: pointer;
}

h6 {
	margin-top: 3%;
	font-size: 167%;
}
.redes-sociales {
	font-size: 191%;
	display: block;
}
.mas-info {
	display: flex;
	flex-direction: column;
}
.fa-instagram {
	font-size: 100%;
	padding: 2%;
}
.fa-twitter {
	font-size: 100%;
	padding: 2%;
}
.fa-facebook {
	font-size: 100%;
	padding: 2%;
}
/*!-----------------------Detalles del Producto----------------------*/

/**Main*/

h2 {
	margin-top: 14%;
	margin-bottom: 5%;
	font-size: 1.5em;
	margin-left: 5%;
	color: black;
}

.product-details {
	width: 100%;
	margin-left: 5%;
	border-radius: 10%;
}

.product-details img {
	width: 60%;
	border: orange solid 2px;
	margin-bottom: 8%;
	border-radius: 10%;
	transition: all 1s;
}
.product-details img:hover {
	transform: rotate(-360deg);
}

.product-details .info-product-details .descrip {
	font-size: 1.2rem;
	text-align: justify;
	margin-bottom: 5%;
	color: black;
	margin-right: 10%;
}

.product-details .info-product-details .descrip::first-letter {
	color: orange;
	font-size: 1.5rem;
}

.product-details .info-product-details .precio {
	font-size: 1.8rem;
	text-align: center;
	width: 100%;
	color: orange;
}

.boton-compartir {
	font-size: 1.5rem;
	margin-top: 10%;
	margin-left: 6%;
	color: black;
}

.compartir {
	margin-top: 1%;
	width: 35%;
	margin-left: 6%;
}

.compartir .fa-instagram {
	font-size: 2.5em;
	color: #ffb300;
}

.compartir .fa-twitter {
	font-size: 2.5em;
	color: #ffb300;
}

.compartir .fa-facebook {
	font-size: 2.5em;
	color: #ffb300;
}

/*? Articulos relacionados */

.titulo-art-relacionado {
	font-size: 2rem;
	text-align: center;
	margin-top: 25%;
	margin-bottom: 5%;
	color: black;
}

.productos-relacionados {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.articulo-relacionado {
	width: 25%;
	border: orange solid 3px;
	background-color: orange;
	margin-bottom: 6%;
	margin-right: 2%;
	margin-left: 2%;
	border-radius: 10%;
}
.articulo-relacionado:hover {
	transform: scale(1.3);
}
.articulo-relacionado img {
	width: 100%;
	border-bottom: lightgray solid 1px;
	background-color: white;
	border-radius: 12%;
}

.articulo-relacionado .info {
	margin-left: 7%;
	margin-right: 7%;
	margin-bottom: 3%;
	margin-top: 5%;
}

.articulo-relacionado .info h1 {
	font-size: 1rem;
	margin-bottom: 2%;
}

.articulo-relacionado .info .precio {
	font-size: 1.5rem;
	color: blanchedalmond;
	text-align: center;
	margin-top: 5%;
}

.articulo-relacionado .info .agregar {
	font-size: 1rem;
	color: white;
	background-color: orange;
	border: white 3px solid;
	text-align: center;
	margin-top: 5%;
	padding: 5%;
	border-radius: 5%;
}

/** Pagina de registro*/

h1.Crear-Cuenta {
	background-color: orange;
	font-size: 200%;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	display: flex;
	margin-bottom: revert;
	margin-top: 16%;
	justify-content: center;
}

label {
	width: 100%;
	font-size: 158%;
	margin-bottom: 5%;
}
.botones {
	display: flex;
	justify-content: center;
}
.minorista {
	width: 2%;
}
.mayorista {
	width: 2%;
}

/* login*/
h1.login {
	background-color: orange;
	font-size: 200%;
	box-sizing: border-box;
	padding: 1% 31%;
	margin-top: 13%;
	display: flex;
	justify-content: center;
}
.videoLogin{
	width: 50%;
	justify-content: left;
}
label {
	width: 100%;
	font-size: solid 158%;
	margin-bottom: 5%;
	color: black;
	margin-left: 5%;
}
input {
	width: 90%;
	color: black;
	padding: 1%;
	margin: solid black 1%;
	justify-content: center;
	margin: 1% 4%;
}

div.button {
	display: flex;
	justify-content: center;
}

button {
	background-color: orange;
	color: white;
	border: gray;
	font-size: 1.5rem;
	justify-content: space-around;
	padding: 2%;
	border-radius: 1rem;
	box-sizing: border-box;
	margin-top: 3%;

}

a {
	color: rgb(130, 121, 121);
	display: flex;
	justify-content: center;
}

p.sinUsuario {
	color: rgb(130, 121, 121);
	display: flex;
	justify-content: center;
	margin-top: 1%;
}
.aSinUsuario {
	margin-left: 1%;
	font-size: 16px;
	color: black;
}
.error-feedback {
	color:red !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
/*carrito*/
h2.carrito {
	color: white;
	font-size: 2.4rem;
	width: 100%;
	height: auto;
	background-color: orange;
	text-align: center;
	margin-left: 0%;
	margin-top: 11%;
}
.sub-carrito {
	color: gray;
	display: none;
}

.sub-carrito p {
	font-size: 1.8rem;
	padding: 5px -3px;
	margin-left: 6%;
	display: none;
	width: 100%;
}
ul.carro img {
	width: 33%;
	height: 10%;
}
.info-carro {
	color: orange;
	width: 100%;
	margin-top: 6%;
	font-size: 1.2rem;
}
.sub-precio {
	display: flex;
	color: black;
	margin-top: 25%;
	font-size: small;
	width: 100%;
	text-align: center;
}
input.number {
	padding: 0% 5%;
	margin: 0px;
	margin-top: 3%;
}
.carrito-precio {
	color: black;
	font-size: small;
	width: 100%;
	text-align: center;
	margin-top: 32%;
	margin-left: -35%;
}
.menos-mas {
	color: black;
	display: flex;
	max-width: 33%;
	margin: -6%;
}
.fa-minus {
	color: white;
	margin-left: 37%;
}
.sub-carrito-precio {
	font-size: small;
	font-size: 18px;
	width: 50%;
}
.Subtotal {
	font-size: 1.5rem;
	margin-top: 1%;
	color: black;
	width: 50%;
}
.finalizar {
	background-color: orange;
	color: white;
	margin-top: 20%;
	cursor: pointer;
	display: inline-block;
}

li {
	display: flex;
}
.fa-trash-alt {
	color: orange;
	margin-top: 28%;
	font-size: 200%;
	width: 100%;
	background-color: white;
}
a {
	display: flex;
	justify-content: center;
}
/*-----------------PRODUCT-CREATE-FORM--------------------------------------------------*/

h2.products-title {
	margin-left: 0%;
	margin-top: 20%;
	color: white;
	background-color: orange;
	font-size: 200%;
	padding: 2%;
}

textarea#description.form-input {
	margin-top: 5%;
	width: 50%;
	height: 13rem;
	padding: 1%;
	text-align: -webkit-match-parent;
	display: inline-table;
}
.buy-now-button {
	display: flex;
	justify-content: center;
	font-size: 190%;
}

/* PERFIL DE USUARIO */

.profile-container {
	display: flex;
	margin-top: 16%;
}

.profile-container .image-container {
	display: flex;
	justify-content: left;
	width: 30%;
	margin-right: 5%;
}

.profile-image {
	width: 100%;
	border: #ff740a solid 2px;
	margin-left: 10%;
	margin-right: 10%;
}

.data-container {
	font-size: 2rem;
}

.data-container .data-titles {
	color: #ff740a;
	font-size: 2rem;
}

.data-container .user-data {
	color: black;
	font-size: 1.2rem;
}



/*!Media Querys*/

@media (min-width: 480px) {
	article:hover {
		transform: scale(1.1);
	}
	footer {
		display: flex;
		justify-content: space-around;
		line-height: 240%;
	}
	.redes-sociales {
		display: flex;
	}
}

@media (min-width: 768px) {
	/*.carrot {
		padding-top: 15%;
	}*/
	.menu-principal {
		margin-bottom: -3%;
	}
	.carrusel1 img {
		height: 36em;
		display: none;
	}
	.carrusel2 {
		display: block;
	}
	.carrusel2 img {
		height: 50%;
	}
	.circulos {
		padding-bottom: 5%;
	}
	article {
		width: 45%;
		margin: 1%;
	}

	/*product*/
	.boton-agregar {
		margin: 12% 30%;
	}
	.product-details {
		display: flex;
	}
	.info-product-details {
		margin-top: 16%;
		margin-left: 5%;
	}
	.product-details img {
		width: 50%;
	}
	p.descripcion {
		display: block;
	}
	/*carrito*/
	ul.carro img {
		width: 10%;
		height: 10%;
	}

	.sub-carrito {
		display: flex;
		justify-content: space-between;
	}
	.sub-carrito p {
		color: grey;
		display: block;
		justify-content: space-between;
	}

	.menos-mas {
		width: 9%;
		margin-top: -24%;
		margin-left: -1%;
	}
	.info-carro {
		color: orange;
		width: 20%;
		margin-top: 2%;
		font-size: 1.2rem;
	}
}
@media (min-width: 1024px) {
	h2.carrito {
		text-align: center;
	}
	article {
		width: 20%;
		margin: 1%;
	}
}
